body
{
background:#C0C0C0;
}
ul
{
    list-style: none;
	font-family: "Times New Roman", Times, serif;
   
}
li
{
    display: inline-block;
    margin-right: 15px;
    padding: 3px;
}
header
{
    display: float;
    background:grey;
    padding: 5px;
	
}
header h1
{
    color:#FF953F;
    margin-top:0;
    float: left;
    width: 25%;

}

}
body {
  position: relative;
  min-height: 100%;
  min-height: 100vh;
}
footer {
  position: absolute;
  right: 0;bottom:0;left:0;
  padding:5px;
 background-color:grey;
 text-align:center;
}

.container{
    max-width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    display: float;
}
.form
{
	position: absolute;
	margin-top:470px;
	right: 0;left:0;
	background-color:;
	text-align:center;
}
.logo img
{
	margin-top:-28px;
	width: 150px;
	height: 80px;
	float: left;
}
	.img1
	{
		position: absolute;
		margin-top:10px;
		margin-left:65px;
		
	}
	.img2
	{	
	    position: absolute;
		margin-top:10px;
		margin-left:510px;
		
	}
	.img3
	{	
	    position: absolute;
		margin-top:10px;
		margin-left:950px;
		
	}
